/4semestre/POO/**/nbproject/private/
/4semestre/POO/**/build/
/4semestre/POO/**/nbproject/private/
/4semestre/POO/**/nbproject/private/
/4semestre/POO/**/build/
/4semestre/POO/**/dist/
/4semestre/POO/**/nbproject/private/
/4semestre/POO/**/build/
/4semestre/POO/**/build/
/4semestre/POO/**/nbproject/private/
/4semestre/POO/**/build/