body {
    font-family: 'Livvic', sans-serif;
}

.section {
    width: calc(100% - 50px);
    max-width: 1024px;
    text-align: justify;
}

.section--img {
    text-align: center;
}

.img-legenda {
    font-size: 0.8em;
}

img {
    max-width: 80%;
    width: 480px;
}


h1 {
    text-align: center;
    font-size: 2em;
}

h2 {
    text-align: center;
}


.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
